@charset "UTF-8";

kolekcja_gier_rpg
{
	background-image: url("darkBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFEFE;
	margin: auto;
}

wydawcy, gatunki, typy
{
    display: none;
}

nagłówek
{
	font-size: 36px;
	font-family: Georgia;
	display: block;
	text-align: center;
	margin: auto;
}

nagłówek > *:hover
{
	color: grey;
}

nagłówek > projekt
{
	font-size: 32px;
	display: block;
}

nagłówek > autor
{	
	margin-top: 10px;
	display: block;
	font-size: 20px;
}

nagłówek > autor::after
{	
	content: " " attr(numer_indeksu);
}

kolekcja_gier_rpg
{	
	width: 100%;
	margin: auto;
	display: block;
}

system
{
	display: grid;
	margin-top: 40px;
}

system:last-child
{
	margin-bottom: 60px;
}

system > nazwa
{
	text-align: center;
	font-size: 50px;
	padding: 10px;
}

kości::before
{
	content:  "Potrzebne kości: ";
}

kości
{
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

kość
{
	font-size: 20px;
	padding: 10px;
}

kość::after
{
	content: " (" attr(ilość_kości) "),";
}

kość:last-child::after
{
	content: " (" attr(ilość_kości) ")";
}

system > ocena::before
{
	content: "Ocena na serwisie Polter: "
}

system > ocena
{
	font-size: 25px;
	margin-top: 20px;
	margin-left: 40px;
}

system::after
{
	content: "Gatunek: " attr(gatunek_id)
	"\a Wydawca: " attr(wydawca_id);
	white-space: pre;
	font-size: 25px;
	display: block; 
	margin-left: 40px;
}

podręczniki
{
	font-size: 40px;
	padding: 10px;
}

podręczniki > podręcznik
{ 
    display: list-item;
    list-style: decimal;
	margin-left: 70px;
	font-size: 30px;
	padding: 10px;
}

system > podręczniki > podręcznik *:hover
{
	color: yellow;
}

system[gatunek_id="Dark Fantasy"] > podręczniki > podręcznik *:hover
{
	color: green;
}

system[gatunek_id="Science Fiction"] > podręczniki > podręcznik *:hover
{
	color: purple;
}

system[gatunek_id="Steampunk"] > podręczniki > podręcznik *:hover
{
	color: burlywood;
}

podręcznik > tytuł_oryginalny::before
{
	font-size: 20px;
	content: "Tytuł orygianlny: ";
}

podręcznik > tytuł_oryginalny
{
	font-size: 20px;
	margin-right: 40px;
	display: block; 
	margin-top: 10px;
}

podręcznik > data_wydania::before
{
	font-size: 20px;
	content: "Data wydania: ";
}

podręcznik > data_wydania
{
	font-size: 20px;
	margin-right: 40px;
	display: block; 
	float: right;
	margin-top: 10px;
}

podręcznik > liczba_stron::before
{
	font-size: 20px;
	content: "Liczba stron: ";
}

podręcznik > liczba_stron
{
	font-size: 20px;
	margin-right: 40px;
	display: block; 
	float: right;
	margin-top: 10px;
}

podręcznik::after
{ 
	content: "Typ: " attr(typ_id);
	font-size: 20px;
	text-align: left;
	display: block;
	margin-top: 10px;
}