@charset "UTF-8";

kolekcja_gier_rpg
{
	background-image: url("darkBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	margin: auto;
}

wydawcy, gatunki, typy
{
    display: none;
}

nagłówek
{
	font-size: 36px;
	font-family: Georgia;
	text-align: center;
	display: block;
	margin: auto;
}

nagłówek > *:hover
{
	color: grey;
}

nagłówek > projekt
{
	font-size: 32px;
	display: block;
}

nagłówek > autor
{	
	margin-top: 10px;
	display: block;
	font-size: 20px;
}

kolekcja_gier_rpg
{	
	width: 100%;
	margin: auto;
	display: block;
}

system
{
	display: grid;
	margin-top: 40px;
}

system:last-child
{
	margin-bottom: 60px;
}

system > nazwa
{
	text-align: center;
	font-size: 50px;
	padding: 10px;
	background: black;
}

system > kości::before
{
	content:  "Potrzebne kości: ";
}

system > kości
{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	padding: 10px;
	color: black;
	background: LightSeaGreen;
}

system[gatunek_id="gat02"] > kości
{
	background: SpringGreen;
}

system[gatunek_id="gat04"] > kości
{
	background: FireBrick;
}

system[gatunek_id="gat07"] > kości
{
	background: MediumSlateBlue;
}

system[gatunek_id="gat08"] > kości
{
	background: DarkKhaki;
}

system > kości > kość
{
	font-size: 20px;
	padding: 10px;
}

system > kości > kość::after
{
	content: " (" attr(liczba_kości) "),";
}

system > kości > kość:last-child::after
{
	content: " (" attr(liczba_kości) ")";
}

system > popularność::before
{
	content: "Popularność systemu: "
}

system > popularność
{
	font-size: 25px;
	margin-top: 10px;
	margin-left: 30px;
	padding: 10px;
}

system > popularność::after
{
	content: "%"
}

system > format::before
{
	content: "Format: "
}

system > format
{
	font-size: 25px;
	margin-top: 2px;
	margin-left: 30px;
	padding: 8px;
}

system::after
{
	content: "Gatunek: " attr(gatunek_id)
	"\aWydawca: " attr(wydawca_id);
	white-space: pre-line;
	font-size: 25px;
	display: block; 
	margin-left: 30px;
	padding: 10px;
}

podręczniki > podręcznik
{ 
    display: list-item;
    list-style: decimal;
	margin-left: 70px;
	font-size: 35px;
	padding: 10px;
}

system > podręczniki > podręcznik *:hover
{
	color: LightSeaGreen;
}

system[gatunek_id="gat02"] > podręczniki > podręcznik *:hover
{
	color: SpringGreen;
}

system[gatunek_id="gat04"] > podręczniki > podręcznik *:hover
{
	color: FireBrick;
}

system[gatunek_id="gat07"] > podręczniki > podręcznik *:hover
{
	color: MediumSlateBlue;
}

system[gatunek_id="gat08"] > podręczniki > podręcznik *:hover
{
	color: DarkKhaki;
}

podręcznik > tytuł
{
	display: block;
}

podręcznik > tytuł_oryginalny::before
{
	font-size: 20px;
	content: "Tytuł orygianlny: ";
}

podręcznik > tytuł_oryginalny 
{
	font-size: 25px;
	display: block;
	margin-top: 10px;
}

podręcznik > data_wydania::before
{
	font-size: 20px;
	content: "Data wydania: ";
}

podręcznik > liczba_stron::before
{
	font-size: 20px;
	content: "Liczba stron: ";
}

podręcznik > ocena_podręcznika::before
{
	font-size: 20px;
	content: "Ocena: ";
}

podręcznik > cena_podręcznika::before
{
	font-size: 20px;
	content: "Cena podręcznika: ";
}

podręcznik > data_wydania, liczba_stron, ocena_podręcznika, cena_podręcznika
{
	font-size: 20px;
	margin-right: 40px;
	display: block;
	float: right;
	margin-top: 10px;
}

podręcznik > cena_podręcznika::after
{
	font-size: 20px;
	content: " PLN";
}

podręcznik::after
{ 
	content: "Typ: " attr(typ_id);
	font-size: 20px;
	text-align: left;
	display: block;
	margin-top: 10px;
}
